.main {
    background-image: url("main.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
}
.footer {
    background-image: url("footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 113px;
    float: left;
}
.footerText {
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
    text-wrap: normal;
    align-items: center;
}
.login {
    background-color: limegreen;
    margin-left: 36%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    width: 18%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnWriteUs {
    margin-left: 15.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 18%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnRegister {
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 18%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnMyReg {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 18%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.buttonWriteUs {
    background-image: url("write_us.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
}
.buttonRegister {
    background-image: url("register.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
}
.buttonMyReg {
    background-image: url("myRegistrations.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
}