.main {
    background-image: url("main.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
}
.language{
    overflow: hidden;
    float: right;
    margin-top: 4%;
    margin-right: 30%;
}
.text{
    color: #50b03f;
    text-shadow: 1px 1px 1px black;
}
.header {
    overflow: hidden;
    background-image: url("header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 165px;
    float: left;
}
.loginMain {
    background-image: url("loginMain.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
}
.footer {
    background-image: url("footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 113px;
    float: left;
}
.headerText {
    margin-left: 18%;
    margin-top: 2%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
    text-wrap: normal;
    color: #7d7d7d;
}
.footerText {
    margin-left: 45%;
    margin-top: 1%;
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
    text-wrap: normal;
    color: darkgray;
}
.login {
    border-radius: 7%;
    box-shadow: 3px 3px 15px black;
    background-color: #48c100;
    margin-left: 38%;
    margin-bottom: 2%;
    padding: 1.5%;
    width: 18%;
    height: 100%;
    color: azure;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnWriteUs {
    margin-left: 14.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnRegister {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.columnMyReg {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
    align-items: center;
}
.checkboxStyle{
    width:15px;
    height:15px;
    color: #48c100;
    background-color: #48c100;
}
/*--------------------------------------------------------------------------------------------------------
---------------------------------------- LOGIN BUTTON ----------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
.buttonLogin{
    display: inline-block;
    border-radius: 4px;
    text-shadow: 1px 1px 5px black;
    background-color: #50b03f;
    border: 1px solid dimgrey;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
}
.buttonLogin span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonLogin span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonLogin:hover span {
    padding-right: 25px;
}
.buttonLogin:hover span:after {
    opacity: 1;
    right: 0;
}
/*--------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
.buttonWriteUs {
    background-image: url("write_us.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
    color: azure;
    overflow: hidden;
}
.buttonRegister {
    background-image: url("register.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
    color: azure;
    overflow: hidden;
}
.buttonMyReg {
    background-image: url("myRegistrations.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 50px;
    overflow: hidden;
}
.buttonText{
    text-wrap: normal;
    text-shadow: 2px 2px 5px black;
    margin-left: 30%;
    color: azure;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}