<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>

<!-- Navigation -->

<!-- Full Width Image Header -->


<!-- Page Content -->
<div class="container">

    <h1 class="thick-heading">
        Parašykite mums
    </h1>

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <!------------------------code---------------start---------------->
        <div class="container">
            <div ng-controller="contactController" class="row" style="margin-left: 30%;">
                <form role="form">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <select id="theme" ng-model="theme">
                                <option value="" disabled="disabled" selected="selected">Pasirinkite temą</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="InputMessage">Žinutės tekstas</label>
                            <div class="input-group">
                                <textarea ng-model="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="first_name" id="first_name" class="form-control input-lg"
                                   placeholder="Vardas" tabindex="1">
                        </div>


                        <div class="form-group">
                            <input type="text" ng-model="last_name" id="last_name" class="form-control input-lg"
                                   placeholder="Pavardė" tabindex="2">
                        </div>
                        <div class="form-group">
                            <input type="tel" ng-model="phone_number" id="phone_number" class="form-control input-lg"
                                   placeholder="Telefonas susisiekti" tabindex="3">
                        </div>
                        <div class="form-group">
                            <input type="email" ng-model="email" id="email" class="form-control input-lg"
                                   placeholder="El. Paštas" tabindex="4">
                        </div>

                        <div class="form-group">
                            <label for="InputMessage">Kaip pageidaujate gauti atsakymą?</label>
                            <input type="radio" ng-model="answer" value="phone" checked> Telefonu<br>
                            <input type="radio" ng-model="answer" value="email"> El. Paštu<br>
                            <input type="radio" ng-model="answer" value="both"> El. Paštu ir telefonu
                        </div>

                        <button type="button" ng-click="submit()" id="submit" class="btn btn-info pull-right"> Patvirtinti </button>
                    </div>
                </form>

            </div>
        </div>
        </div>
            <!----Code------end----------------------------------->
        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="http:/www.tutorialspoint.com/bootstrap/scripts/jquery.min.js">
        </script>

        <!-- Bootstrap Core JavaScript -->
        <script src="http:/www.tutorialspoint.com/bootstrap/js/bootstrap.min.js">
        </script>

</body>
</html>