<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div>
    <img src="extra/header.png" alt="header" width="100%">
</div>

<div>
    <img src="extra/NOcontactus.png" alt="contactus" width="100%">
</div>

<div class="main">

    <div class="login">
        <form method="" action="">
            <input name="email" type="email" placeholder="El. paštas" width="100%"><br><br>
            <input name="password" type="password" placeholder="Slaptažodis" width="100%"><br><br>
            <input type="submit" align="right">
            <input type="checkbox">Likti prisijungus
        </form>
    </div>
    <!--
    <div class="column1" align="center">
        <a href="#">
            <div class="buttonWriteUs">
                a
            </div>
        </a>
    </div>
    <div class="column2" align="center">
        <a href="#">
            <div class="buttonRegister">
                b
            </div>
        </a>
    </div>
    <div class="column3" align="center">
        <a href="#">
            <div class="buttonMyReg">
                c
            </div>
        </a>
    </div>
    -->
</div>

<div>
    <img src="extra/footer.png" alt="footer" width="100%">
</div>

<div ng-controller="loginController">
    <select ng-model="method" aria-label="Request method">
        <option>GET</option>
        <option>JSON</option>
    </select>
    <input type="text" ng-model="url" size="80" aria-label="URL" />
    <button id="fetchbtn" ng-click="fetch()">fetch</button>
    <pre>{{status}}</pre>
    <pre>{{data}}</pre>
    <pre>{{data[2].id}}</pre>
    <pre>{{data[2].name}}</pre>
</div>

</body>
</html>